
software/.settings/language.settings.xml
software/.settings/language.settings.xml
software/.settings/language.settings.xml
software/.settings/language.settings.xml
software/.settings/language.settings.xml
software/.settings/language.settings.xml
software/STM32F4DISCOVERY.xml
